@use "base"as *;
@use "others/sanitize";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: openSansRegular;
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 35px;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $black;
}

.hide_scroll::-webkit-scrollbar {
    display: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
        
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(30, 118, 221, 0.5);
    border-radius: 10px;
}
        
/* Handle */
::-webkit-scrollbar-thumb {
    background: $light-blue;
    background: radial-gradient($light-blue 2%, $dark-blue);
    border-radius: 10px;
}

@import 'components/animations';
@import 'components/block_text';
@import 'components/buttons';
@import 'components/footer';
@import 'components/grid_with_lightbox';
@import 'components/hero';
@import 'components/image_and_text';
@import 'components/nav';
@import 'components/rotate_device_animation';
@import 'components/swiper_with_icons';
@import 'components/title_and_button';
@import 'components/title_iconLink';

@media (max-width: 430px) {
    html {
        font-size: 16px;
    }
}
