.grid_with_lightbox {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999999;
    overflow: hidden;
    background:  linear-gradient(99deg, #0B0B0B 0%, #383838 66.67%, #100F0F 100%);
    // display: none;
    opacity: 100%;
    transition: all 0.3s ease-in-out;


    &__background {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: all 0.8s ease-in-out;

        &::after {
            opacity: 0%;
            transition: all 0.8s ease-in-out;
        }

        h2 {
            line-height: 105%;
            background: -moz-radial-gradient(#F8F3E8 2%, #F9CD6B);
            background: -webkit-linear-gradient(#F8F3E8 2%, #F9CD6B);
             background: radial-gradient(#F8F3E8 2%, #F9CD6B);
            -webkit-background-clip: text;  
            -webkit-text-fill-color: transparent;  
            background-clip: text;
            @include orbitron-bold;
            margin-bottom: 130px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            width: 60vw;
            max-height: 551px;
            overflow-y: scroll !important;
            gap: 16px;
            padding: 20px;

           
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            img {
                width: 100%;
                width: 200px;
                height: auto;
                object-fit: cover;
                object-position: center;
                cursor: pointer;

                &:hover {
                    box-shadow: -3px 3px 8px 5px rgba(118, 112, 112, 0.5);
                }
            }
        }

        .swiper_lightbox {
            width: 70vw;
            height: 80%;
            position: absolute;
            // display: none;
            transition: all 0.3s ease-in-out;
            // z-index: 0;

            .zuruck_btn {
                z-index: 2;right: 0;
                top: 0;
            }

            .swiper-wrapper {
                .swiper-slide {
                    border-right: 60px solid transparent;
                    border-left: 60px solid transparent;
                    gap: 120px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    z-index: 0;

                    .swiper-slide-text {
                        padding: 40px;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;

                        h3 {
                            @include orbitron-regular;
                        }

                        p {
                            font-size: 16px;
                            line-height: 26px;
                        }

                        button {
                            width: fit-content;
                        }
                    }

                    .swiper-slide-image {
                        width: 100%;
                        height: 100%;
                        pointer-events: none;
                        
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                            pointer-events: none;
                        }
                    }

                    .swiper-slide-video {
                        position: absolute;
                        z-index: 0;
                        width: 100%;
                        height: 100%;
                        display: none;


                        button {
                            top: 20px;
                            right: 20px;cursor: pointer;
                            z-index: 2;
                        }
                        
                        video {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            z-index: 1;
                        }
                    }

                    .play_video {
                        display: block;
                    }
                    
                    .swiper-slide-background {
                        position: absolute;
                        z-index: -1;
                        width: 100%;
                        height: 100%;
                        background-color: $black;
                        

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            opacity: 15%;
                        }
                    }

                }
            }

            .swiper-button-prev {
                &::after {
                    content: url("../assets/svg/arrow_prev.svg");
                }
            }

            .swiper-button-next {
                &::after {
                    content: url("../assets/svg/arrow_next.svg");
                }
            }
        }

        .display_swiper {
            display: block;
            animation-name: fromBottom;
            animation-duration: 1s;
        }
    }

    .fadeout {
        &::after {
                content: "";
                width: 100vw;
                height: 100vh;
                background-color: $black;
                opacity: 90%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
            }
    }
}

.section_intro_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    pointer-events: none;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.finished_video {
    opacity: 0;
}

@media (max-width: 1800px) {
    .grid_with_lightbox__content .grid img {
        width: 18%;
    }
}

@media (max-width: 1600px) {
    .grid_with_lightbox__content h2 {
        margin-bottom: 45px;
    }

    .grid_with_lightbox__content .grid {
        max-height: 451px;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        gap: 0;
        grid-template-columns: 1.5fr 1fr;
    }

    .grid_with_lightbox__content .swiper_lightbox {
        width: 80vw;
    }
}

@media (max-width: 1500px) {
    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        gap: 0;
        grid-template-columns: 1.1fr 1fr;
    }
}
@media (max-width: 1140px) {
    .grid_with_lightbox__content .grid img {
        width: 17%;
    }
}

@media (max-width: 1100px) {
    .grid_with_lightbox__content h2 {
        margin-bottom: 80px;
    }

    .grid_with_lightbox__content .grid {
        max-height: 300px;
    }

    .grid_with_lightbox__content .swiper_lightbox {
        width: 90vw;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide .swiper-slide-text {
        gap: 18px;
    }
}

@media (max-width: 750px) {
    .grid_with_lightbox__content h2 {
        margin-bottom: 40px;
    }

    .grid_with_lightbox__content .grid {
        max-height: 300px;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide .swiper-slide-text p {
        max-height: 40%;
        overflow-y: scroll;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide .swiper-slide-text {
        padding: 18px;
        gap: 20px;
    }

    .grid_with_lightbox__content .swiper_lightbox {
        width: 95vw;
        height: 75vh;
    }
}

@media (max-height: 550px) {
    .grid_with_lightbox__content .grid img {
        width: 21%;
    }
}

@media (max-height: 480px) {
    .grid_with_lightbox__content h2 {
        margin-bottom: 30px;
    }

    .grid_with_lightbox__content .grid {
        max-height: 260px;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        grid-template-columns: 1.8fr 1fr;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide .swiper-slide-text p {
        max-height: 40%;
        overflow-y: scroll;
    }
}

@media (max-height: 380px) {
    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        grid-template-columns: 2.1fr 1fr;
    }

    .grid_with_lightbox__content h2 {
        margin-bottom: 7px;
    }
}

@media (max-height: 350px) {
    .grid_with_lightbox__content h2 {
        margin-bottom: 30px;
    }

    .grid_with_lightbox__content .grid {
        max-height: 180px;
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        grid-template-columns: 1fr;
    }
    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide {
        .swiper-slide-image {
            display: none;
        }
    }

    .grid_with_lightbox__content .swiper_lightbox .swiper-wrapper .swiper-slide .swiper-slide-text p {
        max-height: 35%;
    }
}